{#
/**
 * @file
 * Theme override for a field. Render as a collapsible summary.
 Content is rendered inside a <pre> wrapper as well.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not. NOT SUPPOORTED for summary field
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
  label_display == 'inline' ? 'clearfix',
]
%}
{%
  set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}


  <details{{ attributes.addClass(classes) }}>

    <summary{{ title_attributes.addClass(title_classes) }}>{{ label }}</summary>
    {% if multiple %}
    <div class="field__items">
    {% endif %}
    {#
      As the item.content is already pre-rendered, cannot access the raw version of the data.
      Need to look back up to the parent context and get the raw items value from there.
    #}
      {% for delta, item in items %}
        {% set field_item = element['#items'].get(delta) %}
        <div{{ item.attributes.addClass('field__item') }}><pre>{{ field_item.value }}</pre></div>
      {% endfor %}

    {% if multiple %}
    </div>
    {% endif %}
  </details>

